@charset "UTF-8";
@use "sass:map";
@import "settings";
@import "vanilla-framework/scss/build";
@import "./breakpoints";
@import "pattern_icon";
@include lxdui-p-icon;
@include vf-p-icon-add-canvas;
@include vf-p-icon-applications;
@include vf-p-icon-begin-downloading;
@include vf-p-icon-canvas;
@include vf-p-icon-change-version;
@include vf-p-icon-close;
@include vf-p-icon-connected;
@include vf-p-icon-containers;
@include vf-p-icon-copy-to-clipboard;
@include vf-p-icon-disconnect;
@include vf-p-icon-edit;
@include vf-p-icon-export;
@include vf-p-icon-filter;
@include vf-p-icon-fullscreen;
@include vf-p-icon-get-link;
@include vf-p-icon-import;
@include vf-p-icon-machines;
@include vf-p-icon-mount;
@include vf-p-icon-open-terminal;
@include vf-p-icon-pause;
@include vf-p-icon-play;
@include vf-p-icon-pods;
@include vf-p-icon-power-off;
@include vf-p-icon-priority-low;
@include vf-p-icon-profile;
@include vf-p-icon-restart;
@include vf-p-icon-security;
@include vf-p-icon-settings;
@include vf-p-icon-status-failed-small;
@include vf-p-icon-status-in-progress-small;
@include vf-p-icon-status-queued-small;
@include vf-p-icon-status-succeeded-small;
@include vf-p-icon-status-waiting-small;
@include vf-p-icon-status;
@include vf-p-icon-stop;
@include vf-p-icon-switcher-environments;
@include vf-p-icon-task-outstanding;
@include vf-p-icon-units;
@include vf-p-icon-video-play;
@include vf-p-icon-warning-grey;

$border-thin: 1px solid $color-mid-light !default;

@import "certificates";
@import "cluster_group_form";
@import "cluster_list";
@import "configuration_table";
@import "custom_isos";
@import "detail_page";
@import "detail_panels";
@import "disk_device_form";
@import "empty_state";
@import "error_page";
@import "file_row";
@import "forms";
@import "images";
@import "instance_detail_console";
@import "instance_detail_overview";
@import "instance_detail_page";
@import "instance_detail_panel";
@import "instance_detail_terminal";
@import "instance_list";
@import "meter";
@import "network_detail_overview";
@import "network_form";
@import "network_forwards_form";
@import "network_map";
@import "no_match";
@import "operation_list";
@import "page_header";
@import "pattern_navigation";
@import "pattern_terminal";
@import "profile_detail_overview";
@import "profile_detail_panel";
@import "profile_list";
@import "profile_used_by_default_project";
@import "progress_bar";
@import "project_select";
@import "rename_header";
@import "scrollable_container";
@import "scrollable_table";
@import "selectable_main_table";
@import "settings_page";
@import "snapshots";
@import "status_bar";
@import "storage_detail_overview";
@import "storage_pool_form";
@import "storage_volume_form";
@import "storage";
@import "toast";
@import "upper_controls_bar";

body {
  // needed for notification list expanding animation
  overflow: hidden;
}

.p-heading--4 {
  padding: 0;
}

.l-main .row {
  max-width: none;
}

.u-vertical-align-middle {
  vertical-align: middle;
}

.u-inline-block {
  display: inline-block;
}

.storage-detail-table {
  th {
    width: 12rem;
  }
}

.no-grid-gap {
  grid-gap: 0;
}

.u-loader {
  margin: $spv--x-large $sph--x-large $spv--x-large $sph--x-large;
}

.p-bottom-controls {
  background-color: white;
  bottom: 0;
  position: sticky;
}

.status-icon {
  margin-right: $sph--x-small;
}

.external-link-icon {
  @include vf-icon-external-link($color-link);
}

.actions-list {
  display: inline-block;
  min-width: 8.5rem;

  .p-inline-list__item {
    margin-right: 0;
  }

  & > * {
    border-right: $border-thin;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    button {
      margin: 0;
      width: 44px;
    }
  }

  & > *:last-child {
    border-right: none;
  }
}

// smaller padding on top of all pages to have the logo flush on top
.p-panel__title,
.p-panel__controls {
  padding-top: $spv--x-small;
}

.p-panel__title {
  padding-bottom: $spv--medium;
}

.p-breadcrumbs--large {
  margin-bottom: 0;
  width: inherit;

  .p-breadcrumbs__items {
    margin-bottom: 0;
  }

  .p-breadcrumbs__item {
    font-size: #{map.get($font-sizes, h4-mobile)}rem;
    font-weight: 275;
    line-height: 1.45rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .p-breadcrumbs__item:first-of-type {
    margin-right: $sph--x-small;
  }
}

.p-tabs__list {
  margin-bottom: $spv--large !important;
}

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-flex-row-reverse {
  flex-direction: row-reverse;
}

.u-flex {
  align-items: center;
  display: flex;
}

.u-no-border {
  border: none !important;
}

.item-name {
  overflow-wrap: anywhere;
}

.header-second-row {
  display: inline-block;
  padding-top: 1px;
}

@media (width >= 460px) {
  .l-application .l-aside.is-narrow {
    width: 25.65rem;
  }
}

@include large {
  .migrate-instance-modal .p-modal__dialog {
    min-width: 30rem;
  }
}

.u-text--line-through {
  text-decoration: line-through;
}

.margin-right {
  margin-right: $sph--large;
}

.help-link {
  align-items: center;
  display: flex;

  .help-link-icon {
    height: 1rem;
    margin-left: $spv--small;
    margin-top: 0.55rem; // extra margin to align with the text should be removed when this is fixed: https://github.com/canonical/vanilla-framework/issues/4891
    width: 1rem;

    @include extra-large {
      margin-top: 0.665rem; // extra margin to align with the text should be removed when this is fixed: https://github.com/canonical/vanilla-framework/issues/4891
    }
  }
}

.no-border-top {
  border-top: none !important;
}

.auto-expanding-textarea {
  overflow: hidden;
  resize: none;
}

.network-forwards-table {
  .actions {
    max-width: 8rem;
  }
}

.items-per-page {
  margin-bottom: 0;
}
